:host {
  display: block;
  max-width: 250px;
  min-width: 200px;
  height: 100vh;

  background-color: var(--color-background-navbars);
  color: var(--color-white);

  font-family: var(--font-roboto);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .menu-buttons {
    .menu-nav {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      padding: 20px;
    }

    .primary-btn {
      background: transparent;
      font-size: 18px;
      color: var(--color-white);
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.4s ease;
      flex-grow: 1;
      padding: 16px 10px;
      border-radius: 10px;
      font-family: "roboto", sans-serif;
    }

    .primary-btn:hover {
      background: var(--color-background-light);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .dropdown-menu {
      padding: 10px;
      width: 100%;

      .dropdown-item {
        color: var(--color-white);
        padding: 8px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }

    .menu-header {
      font-size: 18px;
      font-weight: bold;
      align-items: center;
      padding: 10px;
      margin-top: 20px;
      position: relative;

      .dropdown {
        position: relative;
      }

      .user-info {
        display: flex;
        align-items: center;
      }

      .username:hover {
        color: var(--color-cyan-accent);
        cursor: pointer;
      }

      .dropdown {
        margin-left: 10px;

        .btn-primary {
          background-color: transparent;
          border: none;
          color: var(--color-white);
          cursor: pointer;
        }

        .dropdown-toggle {
          position: relative;
          background-color: transparent;
          font-size: 18px;
          color: white;
          border: none;
          padding: 5px 0px;
        }

        .fa-solid {
          margin-right: 10px;
        }

        .dropdown-item:hover {
          background-color: var(--color-background-light);
        }

        .show {
          display: block;
        }
      }
    }

    .connect-links {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

      h2 {
        margin: 0;
      }

      .link {
        width: 100%;
        cursor: pointer;
      }

      .link-spotify img {
        width: 100px;
      }

      .link-youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 1000;
        gap: 8px;

        .logo {
          width: 30px;
        }

        .text {
          width: 60px;
        }
      }
    }
  }
}
