.toast {
    width: 450px;
    height: 60px;
    border-radius: 25px;
    background-color: var(--color-background-light);

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 10px;

    .song-image {
        width: 60px;
        height: 60px;
        border-radius: 25px;
    }

    .toast-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        .song-author {
            font-weight: bold;
        }
    }

    .toast-buttons {
        display: flex;
        gap: 10px;
        margin-right: 20px;

        i {
            cursor: pointer;
        }
    }
}