:host {
    z-index: 10;
    margin-bottom: 30px;
}

.container{
    width: 450px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.search-bar-form {
    flex-grow: 1;
}

.search-bar-input {
    border-radius: 50px;
    background-color: var(--color-background-light);
    width:100%;
    height: 40px;
    outline: none;
    border:none;
    width:100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    caret-color: var(--color-white);
    color: var(--color-white);
}

