<main>
  <a [routerLink]="'/'">
    <div class="logo-container">
      <img src="../../assets/logo/logo_8000x8000.png" />
    </div>
  </a>

  <div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm">
      <label for="username" class="register-text"></label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        required
        formControlName="username"
      />

      <label for="email" class="register-text"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="E-mail"
        required
        formControlName="email"
      />

      <label for="password" class="register-text"></label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
        formControlName="password"
      />

      <label for="confirm-password" class="register-text"></label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        placeholder="Confirm password"
        required
        formControlName="passVerif"
      />

      <button (click)="register()" class="button_register">Register</button>
      <button class="button_register1">
        <a [routerLink]="'/login'"> Have account? Sign in!</a>
      </button>
    </form>
  </div>
</main>
