:host {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-background-dark);
}

.logo-container {
  width: 350px;
  height: 125px;
  margin-left: 38%;
  margin-top: 15px;
  img {
    width: 100%;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--color-backgroud-dark);
  color: white;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: auto;
  margin-top: 30px;

  h2,
  .login-text {
    color: white;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label,
input {
  margin-bottom: 10px;
}

main {
  background-color: var(--color-backgroud-dark);
}

input {
  padding: 15px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: var(--color-backgroud-dark);
  border: 2px solid var(--color-cyan-accent);
  color: white;
  width: 300px;
  height: 42.4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

input::placeholder {
  color: white;
}

.button_register {
  margin: 15px auto;
  display: flex;
  width: 352px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--color-cyan-accent);
  color: white;
  border-radius: 20px;
  border: none;
}

.button_register:hover {
  cursor: pointer;
}

.button_register1 {
  display: flex;
  width: 352px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  margin: 5px auto;
  background: transparent;
  color: white;
  border: 2px solid var(--color-cyan-accent);
}

.button_register1:hover {
  background-color: var(--color-background-dark);
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
