:host {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-background-dark);
}

app-vertical-navbar {
  flex: 1;
}

app-vertical-menu {
  flex: 1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: var(--color-background-dark);
}

form {
  display: flex;
  flex-direction: column;
}

.userprofile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: auto;
  margin-top: 200px;
}

label,
input {
  margin-bottom: 10px;
}

input {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-backgroud-dark);
  border: 2px solid var(--color-cyan-accent);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  width: 300px;
  height: 42.4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  outline: none;
}

input:focus {
  border-color: white;
}

input::placeholder {
  color: white;
}

.change-pass-button {
  width: 190px;
  padding: 10px;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--color-cyan-accent);
  color: black;
  border: none;
}

.change-pass-button:hover {
  color: white;
}

.edit-button {
  display: flex;
  width: 70px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  margin-right: 10px;
  background: var(--color-cyan-accent);
  color: black;
  border: none;
}

.edit-button:hover {
  color: white;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container button {
  margin-left: 10px;
}

.button-group {
  display: flex;
}
